#baseCurrencyDropdown, #convertedCurrencyDropdown
{
   height: 400px;
   overflow: auto;
}


li {
   position: relative;
   list-style-type: none; /* Remove default list item marker */
 }

 ul li, button{

   margin-left: 5px; /* Adjust the padding as needed */
   padding: 5px;
   text-indent: 15px; 

 }
 
 img {
   position: absolute;
   top: 50%; /* Adjust the positioning as needed */
   left: 5px; /* Adjust the positioning as needed */
   transform: translateY(-50%);
   width: 20px; /* Adjust the size as needed */
   height: 20px; /* Adjust the size as needed */
   /* border-radius: 70%; Make the image circular */
 }

 button {
  width: 125px; /* Set your desired width */
  height: 40px; /* Set your desired height */
}

#baseCurrencyDropdown input, #convertedCurrencyDropdown input{

  text-indent: 10px;

  margin-left: 10px;

}

#toggleButton{

  align-self: center;

  margin: 5px;

  text-indent: 1px;

  padding: auto;

  border-radius: 50%;

}

